<div class="page status_page" data-page="asset.status">
	<div class="navbar bg-boatwatch ">
        <div class="navbar-inner">
            <div class="left">
            	<a href="#" class="link backToIndex "> <i class="icon icon-header-arrow-back" ></i></a>
            </div>
            <div class="left navbar_title ">{{Name}}</div>
            <!--<div class="right">
            	<a href="#" class="link buttonAssetEdit"><i class="icon icon-header-edit"></i></a>              	
            </div>-->
        </div>
    </div>
    
	<div class="toolbar tabbar bg-boatwatch  bw_top_shadow">
	    <div class="toolbar-inner">
	        <a href="#" class="tab-link active" data-id="asset.status" data-href="">
	            <span class="tabbar-label"><b>{{@global.LANGUAGE.ASSET_STATUS_MSG07}}</b></span>
	        </a>
            <a href="#" class="tab-link" data-id="asset.alarm" data-href="">
                <span class="tabbar-label"><b>{{@global.LANGUAGE.ALARM_MSG01}}</b></span>
            </a>
	        <a href="#" class="tab-link" data-id="asset.playback" data-href="">
	            <span class="tabbar-label"><b>{{@global.LANGUAGE.ASSET_STATUS_MSG08}}</b></span>
	        </a>
	        <a href="#" class="tab-link" data-id="asset.track" data-href="">
	            <span class="tabbar-label"><b>{{@global.LANGUAGE.ASSET_STATUS_MSG09}}</b></span>
	        </a>

	        
	    </div>
	</div>

    <div class="page-content with-bottom-button">

    	<div class="content-block status_block_top">
    		<div class="row no-gutter">
			    <div class="col-33 open-gsm">
                    <i class="f7-icons icon-status-date color-light-grey"></i>
                    <p class="font-size-16 color-grey">{{@global.LANGUAGE.ASSET_STATUS_MSG00}}</p>  
                    <p class="font-size-14 item-after position_time">{{Time}}</p>
                </div>                
                <div class="col-33 open-gps">
                    <i class="f7-icons icon-status-speed color-light-grey"></i>
                    <p class="font-size-16 color-grey">{{@global.LANGUAGE.ASSET_STATUS_MSG02}}</p>  
                    <p class="font-size-14 item-after position_time">{{Speed}}</p>
                </div> 
                <div class="col-33 open-power">
                    <i class="f7-icons icon-live-mileage color-light-grey"></i>
                    <p class="font-size-16 color-grey">{{@global.LANGUAGE.ASSET_STATUS_MSG10}}</p>  
                    <p class="font-size-14 item-after position_time">{{Mileage}}</p>
                </div>                      
			</div>
    	</div>

        <div class="list-block media-list status_block_list">                
            <ul class="row no-gap">                     
                <li class="item-content open-address col-100">
                    <div class="item-media state-0"><i class="f7-icons icon-live-address color-light-grey"></i></div>
                    <div class="item-inner">                     
                        <div class="item-text display_address">{{Address}}</div> 
                        <div class="item-subtext position_coords">{{Coords}}</div>              
                    </div>
                </li>     
						
				
                    <li class="item-content col-50 tooltip-init" data-tooltip="{{@global.LANGUAGE.PROMPT_MSG007}}">
                        <div class="item-media {{#js_if 'this.Acc === "ON" '}} text-color-green {{else}} text-color-red {{/js_if}}">
                            <i class="f7-icons icon-status-acc2 color-light-grey"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">{{Acc}}</div>
                        </div>
                    </li>

                    {{#if Acc2}}
                    <li class="item-content col-50 tooltip-init" data-tooltip="{{@global.LANGUAGE.PROMPT_MSG008}}">
                        <div class="item-media text-color-lightgray ">
                            <i class="f7-icons icon-live-input color-light-grey"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">{{Acc2}}</div>
                        </div>
                    </li>
                    {{/if Acc2}}
                    {{#if Fuel}}
                    <li class="item-content col-50 tooltip-init" data-tooltip="{{@global.LANGUAGE.PROMPT_MSG016}}">
                        <div class="item-media text-color-lightgray ">
                            <i class="f7-icons icon-live-fuel color-light-grey"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title">{{Fuel}}</div>
                        </div>
                    </li>
                    {{/if Fuel}}
                    {{#if Voltage}}
                    <li class="item-content col-50 tooltip-init" data-tooltip="{{@global.LANGUAGE.PROMPT_MSG011}}">
                        <div class="item-media text-color-lightgray ">
                            <i class="f7-icons icon-live-voltag color-light-grey"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title" >{{Voltage}}</div>
                        </div>
                    </li>
                    {{/if Voltage}}
                    {{#if Battery}}
                    <li class="item-content col-50 tooltip-init" data-tooltip="{{@global.LANGUAGE.PROMPT_MSG010}}">
                        <div class="item-media text-color-lightgray ">
                            <i class="f7-icons icon-live-battery color-light-grey"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title ">{{Battery}}</div>
                        </div>
                    </li>
                    {{/if Battery}}
                    {{#if Heartrate}}
                    <li class="item-content col-50 tooltip-init" data-tooltip="{{@global.LANGUAGE.PROMPT_MSG018}}">
                        <div class="item-media text-color-lightgray ">
                            <i class="f7-icons icon-live-hearth color-light-grey"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title" >{{Heartrate}}</div>
                        </div>
                    </li>
                    {{/if Heartrate}}
                    {{#if Temperature}}
                    <li class="item-content col-50 tooltip-init" data-tooltip="{{@global.LANGUAGE.PROMPT_MSG019}}">
                        <div class="item-media text-color-lightgray ">
                            <i class="f7-icons icon-live-temperature color-light-grey"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title" >{{Temperature}}</div>
                        </div>
                    </li>
                    {{/if Temperature}}
                    {{#if Direction}}
                    <li class="item-content col-50 tooltip-init" data-tooltip="{{@global.LANGUAGE.PROMPT_MSG015}}<br>{{Direction}}">
                        <div class="item-media text-color-lightgray ">
                            <i class="f7-icons icon-live-direction color-light-grey"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title" >{{Direction}}</div>
                        </div>
                    </li>
                    {{/if Direction}}
                    {{#if EngineHours}}
                    <li class="item-content col-50 tooltip-init" data-tooltip="{{@global.LANGUAGE.PROMPT_MSG020}}">
                        <div class="item-media text-color-lightgray ">
                            <i class="f7-icons icon-live-engine-hours color-light-grey"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title" >{{EngineHours}}</div>
                        </div>
                    </li>
                    {{/if EngineHours}}
                    {{#if StoppedDuration}}
                    <li class="item-content col-50 tooltip-init" data-tooltip="{{@global.LANGUAGE.PROMPT_MSG021}}">
                        <div class="item-media text-color-lightgray ">
                            <i class="f7-icons icon-live-duration color-light-grey"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title" >{{StoppedDuration}}</div>
                        </div>
                    </li>
                    {{/if StoppedDuration}}
            </ul>     
			     
        </div>
        
    	

    </div>
</div>