<div class="page status_page" data-page="media.files">
	<div class="navbar bg-boatwatch ">
		<span class="progressbar-infinite display-none" id="demo-inline-progressbar"></span>
        <div class="navbar-inner">
            <div class="left">
            	<a href="#" class="link back "> <i class="icon icon-header-arrow-back" ></i></a>
            </div>
            <div class="left navbar_title ">{{Name}}</div>
        </div>
    </div>

    <div class="page-content with-bottom-button">
		<div class="list-block media-list virtual-list mediaFileList">          
            
        </div>
    </div>
</div>